<div class="row">
  <div class="large-12 columns">
    <p id="notice"><%= notice %></p>
  </div>

  <div class="large-4 medium-4 columns">
    <strong>Name:</strong>
    <%= @user.name %>
  </div>

  <div class="large-4 medium-4 columns">
    <strong>Last name:</strong>
    <%= @user.last_name %>
  </div>

  <div class="large-4 medium-4 columns">
    <strong>Address:</strong>
    <%= @user.address %>
  </div>

  <div class="large-4 medium-4 columns">
    <strong>Gender:</strong>
    <%= @user.gender %>
  </div>

  <div class="large-4 medium-4 columns">
    <strong>Phone:</strong>
    <%= @user.phone %>
  </div>

  <div class="large-4 medium-4 columns">
    <strong>Card:</strong>
    <%= @user.card_id %>
  </div>

  <div class="large-4 medium-4 columns">
    <strong>Email:</strong>
    <%= @user.email %>
  </div>

  <div class="large-4 medium-4 columns">
    <strong>Identification type:</strong>
    <%= @user.identification_type %>
  </div>
</div>

<%= link_to 'Edit', edit_user_path(@user.id) %> |
<%= link_to 'Back', users_path %>
