<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">Tienda</a></h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <% if @current_user %>
        <li class="name"><%= @current_user.name %></li>
        <li>

          <%= link_to 'Salir', session_path(1), method: :delete %>
        </li>
      <% else %>
        <li>
          <%= link_to 'Ingresar', new_session_path() %>
        </li>
      <% end %>
    </ul>

    <% if @current_user %>
      <!-- Left Nav Section -->
      <ul class="left">
        <li><%= link_to 'Dasboard', admin_dashboard_path %></li>
        <li><%= link_to 'Productos', products_path %></li>
        <li><%= link_to 'Ventas', sells_path %></li>
        <li><%= link_to 'Usuarios', users_path %></li>
      </ul>
    <% end %>
  </section>
</nav>
<br>
<br>

<div class="row">
  <div class="large-12 columns">
    <% flash.each do |key, msg| %>
      <div data-alert class="alert-box <%= key %>">
        <%= msg %>
        <a href="#" class="close">&times;</a>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <%= yield %>
  </div>
</div>


</body>
</html>
