<div class="row">
  <div class="medium-6 columns">
    <%= form_for(@sell) do |f| %>

      <% if @sell.errors.any? %>
        <div class="panel">
          <h4>Errores al procesar la venta</h4>
          <hr>
          <ul>
            <% @sell.errors.full_messages.each do |message| %>
            <li><%= message %></li>
      <% end %>
      </ul>
      </div>
    <% end %>

    <%= f.label :product %>
    <%= f.select :product_id,
                 options_from_collection_for_select(Product.all, :id, :name, @sell.product_id),
                 {prompt: 'Seleccione un producto'}
    %>

    <%= f.label :quantity %>
    <%= f.text_field :quantity, class: 'sell-quantity' %>

    <%= f.submit 'Comprar',  class: 'button expand' %>
    <% end %>
  </div>
  <div class="medium-6 columns">
    <div class="panel radius">
      <h3>Total Factura</h3>
      <hr>
      <b>Valor:</b><p class="valor">0.00</p>
      <b>Valor Iva:</b><p class="iva">0.00</p>
      <b>Valor Total:</b><p class="valor-total">0.00</p>
    </div>
  </div>
</div>

